body {
  background: #000;
  color: #fff;
  position: relative;
  margin: 0;
}
.logo {
  width: 60px;
  margin-right: 20px;
  border-radius: 12px;
}
.title {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  padding: 12px;
  box-sizing: border-box;
  color: #2994ff;
  display: flex;
  align-items: center;
}

#container {
  width: 100%;
  color: #fff;
}
#container .containerView {
  position: relative;
  width: 400px;
  height: 400px;
  border: 1px solid #0fc4a5;
  border-radius: 50%;
}
#container .description {
  text-align: center;
  color: #fff;
  font-size: 22px;
  margin: 12px 0;
}
#container .chartView {
  display: flex;
  position: relative;
  justify-content: center;
  flex: 1;
}
#container .flex {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.SurpriseT {
  position: absolute;
  left: 0%;
  top: 10%;
}
.AngerT {
  position: absolute;
  right: 0%;
  bottom: 10%;
}

.HappyT {
  position: absolute;
  right: 0%;
  top: 10%;
}

.SadT {
  position: absolute;
  left: 0%;
  bottom: 10%;
}
.NeutralT {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#container .myChart3 {
  width: 400px;
  height: 400px;
}
#container canvas {
  max-height: 400px;
}
#container video {
  flex: 1;
  margin: auto;
  margin-top: 16px;
  max-height: 400px;
  width: 100%;
  padding: 0;
}
#container .heatmap {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  overflow: hidden;
  top: 0;
  left: 0;
  transform: rotateY(180deg) rotateZ(180deg);
}
.disposeView {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.disposeView .moodmeterStart {
  width: 80%;
  padding: 17px 30px;
  font-size: 18px;
  line-height: 1;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-in-out;
  border: 2px solid transparent;
  background: #0fc4a5;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.disposeView .linkVideo {
  width: 80%;
  height: 60px;
  line-height: 60px;
  border-radius: 3px;
  border: 2px solid #0fc4a5;
  padding: 0 12px;
  box-sizing: border-box;
}
.disposeView .endButton {
  background: #ff3333;
}
.disposeView .uploadButton {
  position: relative;
}
.disposeView .uploadButton input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 56px;
  width: 100%;
}
.disposeView .input {
  width: 80%;
  margin: auto;
  display: flex;
  margin-bottom: 20px;
}
.disposeView .submit {
  height: 60px;
  border: none;
  width: 20%;
  background: #0fc4a5;
  font-size: 18px;
  color: #fff;
  box-shadow: none;
  border-radius: 4px;
}
.iframeView {
  width: 720px;
  height: 480px;
}
#footer {
  width: 100%;
  font-size: 16px;
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
#footer .item {
  width: 176px;
  height: 188px;
  border: 1px solid #333;
  border-radius: 10px;
  margin-bottom: 32px;
  padding: 12px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: none;
}
#footer .item .tip {
  font-size: 12px;
  margin-top: 12px;
}
#footer a {
  display: flex;
  align-items: center;
  color: #2994ff;
  text-decoration: none;
  flex-direction: column;
}
#footer img {
  width: 40px;
  height: 40px;
  margin: 12px;
}
.footerTip {
  width: 80%;
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  margin: auto;
  margin-bottom: 40px;
}

.Safety {
  width: 100%;
  text-align: center;
  padding-bottom: 12px;
  cursor: pointer;
}
